<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Stock Profit Calculator</title>
</head>
<body>
     <div style="margin-top:30px; margin-left: 30px">
         <h1>Compute your Stock Profit</h1>
            <form method="POST" name = "form">
                <div class="form-group row">
                    <label for="ss" class="col-sm-2 col-form-label">Stock Symbol</label>
                    <div class="col-sm-4">
                        <input type="text" required id="ss" name="ss" class="form-control" style="width: 150px">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="am" class="col-sm-2 col-form-label">Allotment(Number of shares)</label>
                    <div class="col-sm-4">
                        <input type="number" required id="am" name="am" class="form-control" style="width: 150px" placeholder="0">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fsp" class="col-sm-2 col-form-label">Final Share Price(in dollars)</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" required id="fsp" name="fsp" class="form-control" style="width: 150px" placeholder="0.00">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sc" class="col-sm-2 col-form-label">Sell Commission(in dollars)</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" required id="sc" name="sc" class="form-control" style="width: 150px" placeholder="0.00">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="isp" class="col-sm-2 col-form-label">Inital Share Price(in dollars)</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" required id="isp" name="isp" class="form-control" style="width: 150px" placeholder="0.00">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="bc" class="col-sm-2 col-form-label">Buy Commission(in dollars)</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" required id="bc" name="bc" class="form-control" style="width: 150px" placeholder="0.00">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cgtr" class="col-sm-2 col-form-label">Capital gain tax rate(in %)</label>
                    <div class="col-sm-4">
                        <input type="number" step="0.01" required id="cgtr" name="cgtr" class="form-control" style="width: 150px" placeholder="0.00">
                    </div>
                </div>
{#                 <button type="button" class="btn btn-primary">Submit</button>#}
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#stockProfitResult">Submit</button>
                <button type="reset" class="btn btn-warning">Reset</button>
{#                <input type="text" name = "result" placeholder = "result" readonly="readonly" value = "{{ RESULT }}"/>#}
            </form>
          <div class="modal fade"  id="stockProfitResult" tabindex="-1" role="dialog" aria-labelledby="stockProfitResultTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Your Stock Profit</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span><strong>Proceeds: ${{ proceeds }}</strong></span>
                                <br />
                                <span><strong>Costs: ${{ costs }}</strong></span>
                                <br />
                                <span><strong>Net Profit: ${{ net_profit }}</strong></span>
                                <br />
                                <span><strong>Return on Investment: ${{ roi }}</strong></span>
                                <br />
                                <span><strong>To break even, you should have a final share price of:</strong></span>
                                <br/>
                                <span><strong> ${{ expect_fsp }}</strong></span>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</body>
</html>